* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px auto;
    /* background: #000; Black background */
    background-image: url(../img/R.jpg);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container {
    background-color: #fff;
    /* White background */
    border-radius: 50px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 800px;
    min-height: 480px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 10rem;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: #000;
    /* Black background */
    /* background: linear-gradient(to right, #000, #333); Black gradient */
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    /* White text */
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

button {
    border-radius: 20px;
    border: 1px solid #fff;
    /* White border */
    background-color: #000;
    /* Black background */
    color: #fff;
    /* White text */
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 5px;
}

button:active {
    transform: scale(0.95);
}

.signUp:hover {
    transform: scale(1.05);
    background-color: #404040;
    /* Darker gray on hover */
}

.ghost:hover {
    transform: scale(1.05);
    background-color: #333;
    /* Darker gray on hover */
    background-color: White;
    color: #333;
    /* Dark text on hover */
}

.signIn:hover {
    background: #333;
    /* Darker gray on hover */
    transform: scale(1.05);
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

form {
    background-color: #fff;
    /* White background */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    /* Light gray background */
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    color: #000;
    /* Black text */
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

p {
    margin: 10px auto;
    color: #fff;
    /* White text */
}